<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class=" my-2">
        <div class="card-body">
          <ul class="text-center list-inline">
            <li class="list-inline-item"><mat-icon svgIcon="plane" class="icon-display"></mat-icon></li>
            <li class="list-inline-item"></li> <!--пустышка-->
            <li class="list-inline-item"><h2 class="card-title text-center">{{ title }}</h2></li>
            <li *ngIf="userLogged" class="list-inline-item">
              <a routerLink="/account" class="btn btn-info">Личный кабинет</a>
            </li>
            <li *ngIf="userLogged" class="list-inline-item">
              <a routerLink="/tours" class="btn btn-info">Список туров</a>
            </li>
            <li *ngIf="adminLogged" class="list-inline-item">
              <button [matMenuTriggerFor]="menu" class="btn btn-info">Меню администратора</button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item><a routerLink="/addtour" class="btn btn-info">Добавить тур</a></button>
                <button mat-menu-item><a routerLink="/addcity" class="btn btn-info">Добавить город</a></button>
                <button mat-menu-item><a routerLink="/addcountry" class="btn btn-info">Добавить страну</a></button>
                <button mat-menu-item><a routerLink="/addhotel" class="btn btn-info">Добавить отель</a></button>
                <button mat-menu-item><a routerLink="/addtype" class="btn btn-info">Добавить тип</a></button>
                <button mat-menu-item><a routerLink="/users" class="btn btn-info">Пользователи</a></button>
              </mat-menu>
            </li>
            <li *ngIf="userLogged" class="list-inline-item">
              <a routerLink="/login" (click)="exit()" class="btn btn-info">Выйти</a>
            </li>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
