<div class="card-body">
  <div>
    <mat-card class="example-card">
      <mat-card-title-group>
        <mat-card-title>{{user.firstName + " " + user.lastName }}</mat-card-title>
        <mat-card-subtitle>{{user.email}}</mat-card-subtitle>
        <img mat-card-sm-image src="https://cdn-icons-png.flaticon.com/512/21/21104.png" >
      </mat-card-title-group>
      <mat-card-content>
        <h2 *ngIf="user.tours.length != 0">Туры: </h2>
        <p *ngFor="let tour of user.tours">{{tour.hotel.name}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="warn" [disabled]="unchanged" (click)="saveUser()">Сохранить</button>
      </mat-card-actions>
      <span *ngIf="changedUser">Изменения сохранены</span>
    </mat-card>
  </div>
  <app-tour-list [user]="user" (addingTour)="handleTour($event)"></app-tour-list>
</div>
